body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}


.img-1 {
  transform: rotate(30deg);
  width: 60%;
}


/* Nav bar*/
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-iten {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.3rem;
}

/*Download button*/

.download-button {
  margin: 3% 3% 0% 0%;
}

/*Features*/

#features {
 padding: 3%;
}

#features h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-style: bold;
}

.icon {
  color: #ef8172;
  padding: 1rem;
}

.icon:hover {
 color: #ff4c68;
}

#features p {
  color: #8f8f8f;
}

.features-box {
  text-align: center;
}


/*Testimonals*/

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #ffffff;
}

.testimonial-img {
  width: 10%;
  margin: 20px;
  border-radius: 100% ;
}

.carousel-item {
  padding: 10%;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 12%;
  margin: 20px 20px 50px;
}

/*PRICING*/

#pricing {
  padding: 3%;
  font-family: "Montserrat";
  text-align: center;
}

.card-items {
padding: 3% 5%;
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  font-family: "Montserrat";
}

#footer {
  text-align: center;
  font-family: "Montserrat";
}